// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.choice {
  background-image: url("../images/vegetables_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  &_items {
    margin-bottom: 200px;
    &_title {
      margin-top: 97px;

      h3 {
        margin-bottom: 120px;
        text-align: center;
        color: #f49340;
        font-family: Kaisei Opti;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &_cardsBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 108px;
      .card {
        width: 336px;

        text-align: center;
        &_items {
          &_img {
            width: 131px;
            margin: 0 auto;

            img {
              width: 100%;
            }
          }
          &_title {
            margin-top: 38px;
            h3 {
              font-family: Kaisei Opti;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          &_desc {
            margin-top: 21px;
            padding: 0px 10px;
            p {
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .choice {
    background-image: url("../images/bg_choice.png");
    background-position: -2px 48px;
    background-repeat: no-repeat;
    background-size: contain;
    .choice_items {
      margin-bottom: 106px;
      .choice_items_title {
        margin-top: 0px;
        h3 {
          font-size: 20px;
        }
      }

      .choice_items_cardsBox {
        .card {
          width: 189px;
          .card_items {
            .card_items_img {
              margin: 0 auto;
              width: 68px;
              img {
                width: 100%;
              }
            }

            .card_items_title {
              h3 {
                font-size: 20px;
              }
            }

            .card_items_desc {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .choice {
    background-image: url("../images//bg_pic_mobile.png");
    background-position-y: 221px;
    .choice_items {
      margin-bottom: 0px;
      .choice_items_title {
        margin-bottom: 48px;
        h3 {
          font-size: 16px;
        }
      }

      .choice_items_cardsBox {
        display: flex;
        flex-direction: column;
        .card {
          margin: 0 auto;
          margin-bottom: 64px;
        }
      }
    }
  }
}
