// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.comments {
  &_items {
    &_title {
      h3 {
        margin: 184px 0px 120px 0px;
        text-align: center;
        color: #f49340;
        font-family: Kaisei Opti;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .card_box {
      .mobile {
        display: none;
      }
      .card {
        width: 565px;
        border-radius: 10px;
        background: #131213;
        background-image: url("../images/com_img.png");
        background-repeat: no-repeat;
        background-position: 281px 179px;
        &_items {
          padding: 58px 28px 0px 24px;
          margin-bottom: 102px;
          &_username-starts {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 47px;
            p {
              color: #fff;
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .desc {
            padding-bottom: 147px;
            p {
              color: #fff;
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .comments {
    .comments_items_title {
      h3 {
        margin: 10px 0px 54px 0px;
        font-size: 20px;
      }
    }

    .card_box {
      .mobile {
        display: none;
      }
      .card {
        width: 249px;
        background-position: 102px 117px;
        background-size: 130px;
        .card_items {
          padding: 25px 16px 10px 24px;
          .card_items_username-starts {
            margin-bottom: 25px;
            p {
              font-size: 12px;
            }

            img {
              width: 67.042px;
            }
          }

          .desc {
            padding-bottom: 81px;
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .comments {
    .comments_items_title {
      padding: 0px 30px;
      h3 {
        font-size: 20px;
      }
    }

    .card_box {
      .tabled {
        display: none;
      }
      .mobile {
        display: flex;
        .card {
          width: 196px;
          .card_items {
            .card_items_username-starts {
              p {
                font-size: 8px;
              }

              img {
                width: 52px;
              }
            }

            .desc {
              p {
                width: 122px;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
