// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.hero {
  background-image: url("../images/hero_main.png");
  background-repeat: no-repeat;
  background-position: 800px -40px;
  &_items {
     margin-bottom: 280px; 
    &_content {
      width: 780px;
      margin-top: 29px;
      &_title {
        margin-bottom: 76px;
        h2 {
          color: #fff;
          font-family: Kaisei Opti;
          font-size: 90px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          span {
            color: #f49340;
          }
        }
        p {
          width: 570px;
          color: #f49340;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 21px;
        }
      }

      &_btn {
        margin-top: 76px;
        .menu_btn {
          padding: 30px 94px;
          border: 1px solid #f49340;
          text-decoration: none;
          color: #fff;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s ease-in-out;
        }

        .menu_btn:hover {
          background: #f49340;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url("../images/bg_tablet.png");
    background-position: 334px 65px;
    background-size: 429.658px;
    .hero_items {
      margin-bottom: 82px; 
      .hero_items_content {
        width: 100%;
        .hero_items_content_title {
          padding-right: 40px;
          h2 {
            font-size: 48px;
          }
          p {
            font-size: 20px;
          }
        }

        .hero_items_content_btn {
           margin-top: 158px;
          .menu_btn {
            padding: 20px 50px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
