.tahrirlash {
  background: url("../../assets/images/tahrirlash_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  //   background: rgba(0, 0, 0, 0.074);
  .tahrirlash_items {
    background: url("../../assets/images/bg_grey.png");
    padding-top: 303px;
    padding-bottom: 291px;
    .modals {
      // //   background: #fff;
      //   border-radius: 10px;
      //   box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);

      .title {
        text-align: center;
        padding: 159px 0px 110px;
        h3 {
          color: #000 !important;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .login {
        // position: fixed;
        // top: -150%;
        width: 1353px;
        padding: 0px 274px;
        margin: 0 auto;
        margin-top: 291px;
        margin-bottom: 291px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
        .login_items {
          .login_items_title {
            text-align: center;
            padding-top: 171px;
            h3 {
              color: #000;
              font-family: Inter;
              font-size: 36px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .formLogin {
            display: flex;
            flex-direction: column;
            margin: 66px 0px 0px 0px;
            label {
              color: var(--dark, #1c2434);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }

            .parol {
              margin-top: 36px;
            }

            .email {
              display: flex;
              align-items: center;
              border-radius: 8px;
              margin-top: 18px;
              border: 1px solid var(--stroke, #e2e8f0);
              background: var(--white, #fff);
              input {
                width: 100%;
                padding: 31px 37px 32px 46px;
                color: var(--text-color, #64748b);
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                border: none;
              }

              .lock:hover {
                cursor: pointer;
                transform: rotate(30deg);
                transition: all 0.5s ease-in-out;
              }
            }

            .btn {
              margin-top: 161px;
              margin: 161px auto;
              margin-bottom: 128px;
              button {
                transition: all 0.3s ease-in;
                background: transparent;
                padding: 18px 121px;
                border-radius: 30px;
                border: 2px solid #c77128;
                color: #c77128;
                text-align: center;
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
              }
              button:hover {
                cursor: pointer;
                background: #c77128;
                color: #fff;
                transition: all 0.3s ease-in;
              }
            }
          }
        }
      }
    }

    .active {
      top: -200px;
      right: 0px;
      left: 0px;
      transition: all 1s ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .tahrirlash {
    .tahrirlash_items {
      .modals {
        margin-top: 79px;
        .title {
          text-align: center;
          padding: 77px 0px 21px;
          h3 {
            font-size: 32px;
          }
        }

        .login {
          width: 95%;
          padding: 0px 56px;
          margin: 0 auto;
          margin-top: 291px;
          margin-bottom: 291px;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
          .login_items {
            .login_items_title {
              text-align: center;
              padding-top: 77px;

              h3 {
                font-size: 32px;
              }
            }

            .formLogin {
              display: flex;
              flex-direction: column;
              margin: 66px 0px 0px 0px;
              label {
                color: var(--dark, #1c2434);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }

              .parol {
                margin-top: 36px;
              }

              .email {
                display: flex;
                align-items: center;
                border-radius: 8px;
                margin-top: 18px;
                border: 1px solid var(--stroke, #e2e8f0);
                background: var(--white, #fff);
                input {
                  width: 100%;
                  padding: 24px 33px;
                  color: var(--text-color, #64748b);
                  font-family: Inter;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  border: none;

                  span {
                    img {
                      top: 0;
                    }
                  }
                }
              }

              .btn {
                margin-top: 161px;
                margin: 161px auto;
                margin-bottom: 128px;
                button {
                  background: transparent;
                  padding: 18px 121px;
                  border-radius: 30px;
                  border: 2px solid #c77128;
                  color: #c77128;
                  text-align: center;
                  font-family: Inter;
                  font-size: 18px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .tahrirlash {
    .tahrirlash_items {
      .modals {
        margin-top: 79px;
        .title {
          text-align: center;
          padding: 77px 0px 21px;
          h3 {
            font-size: 20px;
          }
        }

        .login {
          width: 95%;
          padding: 0px 25px;
          margin: 0 auto;
          margin-top: 41px;
          margin-bottom: 41px;
          .login_items {
            .login_items_title {
              text-align: center;
              padding-top: 19px;

              h3 {
                font-size: 20px;
              }
            }

            .formLogin {
              display: flex;
              flex-direction: column;
              margin: 44px 0px 0px 0px;

              .parol {
                margin-top: 24px;
              }
              label {
                font-size: 10px;
              }

              .email {
                display: flex;
                align-items: center;
                border-radius: 8px;
                margin-top: 18px;
                input {
                  width: 100%;
                  padding: 6px 16px;
                  font-size: 14px;
                }
                span {
                  width: 19px;
                  img {
                    width: 100%;
                  }
                }
              }

              .btn {
                margin-top: 40px !important;
                margin: 161px auto;
                margin-bottom: 236px;
                button {
                  padding: 14px 71px;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
