// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.products {
  background-image: url("../images//gabbage_bg.png");
  background-repeat: no-repeat;
  background-position: 0px 50px;
  background-size: contain;
  &_items {
    &_title {
      margin-bottom: 120px;
      h3 {
        text-align: center;
        color: #f49340;
        font-family: Kaisei Opti;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .card_box {
      margin-bottom: 280px;
      .cardProductsLink {
        text-decoration: none;
        display: flex;
        .swippper {
          margin-left: 15px;
          padding-bottom: 30px;
          .card {
            width: 380.571px;
            border-radius: 10px;
            background: #232227;

            &_items {
              &_content {
                // padding: 30px 16px 61px 19px;
                padding: 12px 11px 29px 11px;
                &_title {
                  h3 {
                    color: #fff;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                  }
                }
                hr {
                  display: none;
                }
                .card_items_products_items {
                  margin-top: 47px;
                  display: flex;
                  justify-content: space-between;
                  .kilo {
                    color: #fff;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }
                  .price {
                    color: #f49340;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }
                }
              }
            }
          }
        }
      }

      .add {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .products {
    background-position: 0px 297px;
    .products_items {
      .products_items_title {
        margin-bottom: 56px;
        h3 {
          font-size: 20px;
        }
      }

      .card_box {
        margin-bottom: 150px;
        .cardProductsLink {
          .card {
            width: 211px;

            .card_items {
              .card_items_image {
                img {
                  width: 100%;
                }
              }

              .card_items_title {
                padding: 12px 0px 0px 0px;
                h3 {
                  font-size: 10px;
                }
              }
              hr {
                display: none;
              }
              .card_items_products_items {
                margin-top: 20px;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }

        .add {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .products {
    .products_items {
      .products_items_title {
        h3 {
          font-size: 16px;
        }
      }

      .card_box {
        margin-bottom: 48px;
        .cardProductsLink {
          display: none;
        }
        .add {
          display: block;
          .card {
            width: 150px;
            margin-bottom: 23px;

            .card_items_content{
              hr{
                display: block;
                margin: 7px 0px 5px 0px;
                color: #f49340;
              }
            }
          }
        }
      }
    }
  }
}
