// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.tahrirlash {
  background: url("../../assets/images/tahrirlash_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  //   background: rgba(0, 0, 0, 0.074);
  .tahrirlash_items {
    background: url("../../assets/images/bg_grey.png");
    padding-top: 303px;
    padding-bottom: 291px;
    .modals {
      .title {
        text-align: center;
        padding: 159px 0px 110px;
        h3 {
          color: #000 !important;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .modals_card_box {
        padding: 0px 0px 264px 0px;
        margin-bottom: 470px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 91px;
        .cards {
          width: 410px;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);

          .cards_items {
            .card_items_title {
              text-align: center;
              padding: 92px 0px 32px 0px;
              h3 {
                color: #000;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }

            .add {
              text-align: center;
              padding-bottom: 154px;
            }

            .add {
              img:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .active {
      top: -200px;
      right: 0px;
      left: 0px;
      transition: all 1s ease;
    }
  }
}

.tahrirlashNew {
  .modals {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 768px) {
  .tahrirlash {
    .tahrirlash_items {
      .modals {
        margin-top: 79px;
        .title {
          text-align: center;
          padding: 77px 0px 21px;
          h3 {
            font-size: 32px;
          }
        }

        .modals_card_box {
          padding: 0px 0px 89px 0px;
          margin-bottom: 189px;
          display: flex;
          flex-direction: column;
          gap: 91px;
          .cards {
            width: 365px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);

            .cards_items {
              .card_items_title {
                text-align: center;
                padding: 79px 0px 27px 0px;
                h3 {
                  color: #000;
                  font-family: Inter;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }

              .add {
                text-align: center;
                padding-bottom: 137px;
              }
            }
          }
        }
      }

      // .login {
      //   width: 95%;
      //   padding: 0px 56px;
      //   margin: 0 auto;
      //   margin-top: 291px;
      //   margin-bottom: 291px;
      //   border-radius: 10px;
      //   background: #fff;
      //   box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
      //   .login_items {
      //     .login_items_title {
      //       text-align: center;
      //       padding-top: 77px;

      //       h3 {
      //         font-size: 32px;
      //       }
      //     }

      //     .formLogin {
      //       display: flex;
      //       flex-direction: column;
      //       margin: 66px 0px 0px 0px;
      //       label {
      //         color: var(--dark, #1c2434);
      //         font-family: Inter;
      //         font-size: 16px;
      //         font-style: normal;
      //         font-weight: 400;
      //         line-height: 24px;
      //       }

      //       .parol {
      //         margin-top: 36px;
      //       }

      //       .email {
      //         display: flex;
      //         align-items: center;
      //         border-radius: 8px;
      //         margin-top: 18px;
      //         border: 1px solid var(--stroke, #e2e8f0);
      //         background: var(--white, #fff);
      //         input {
      //           width: 100%;
      //           padding: 24px 33px;
      //           color: var(--text-color, #64748b);
      //           font-family: Inter;
      //           font-size: 24px;
      //           font-style: normal;
      //           font-weight: 400;
      //           line-height: 24px;
      //           border: none;

      //           span {
      //             img {
      //               top: 0;
      //             }
      //           }
      //         }
      //       }

      //       .btn {
      //         margin-top: 161px;
      //         margin: 161px auto;
      //         margin-bottom: 128px;
      //         button {
      //           background: transparent;
      //           padding: 18px 121px;
      //           border-radius: 30px;
      //           border: 2px solid #c77128;
      //           color: #c77128;
      //           text-align: center;
      //           font-family: Inter;
      //           font-size: 18px;
      //           font-weight: 400;
      //         }
      //       }
      //     }
      //   }
      // }

      .productAdd {
        width: 95%;
        padding: 0px 82px;
        margin: 0 auto;
        margin-top: 291px;
        margin-bottom: 291px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
        .productAdd_items {
          .productAdd_items_title {
            text-align: center;
            padding-top: 171px;
            h3 {
              color: #000;
              font-family: Inter;
              font-size: 36px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .formLogin {
            display: flex;
            flex-direction: column;
            margin: 66px 0px 0px 0px;
            label {
              color: var(--dark, #1c2434);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }

            .parol {
              margin-top: 88px;
            }

            .email {
              display: flex;
              align-items: center;
              border-radius: 8px;
              margin-top: 18px;
              border: 1px solid var(--stroke, #e2e8f0);
              background: var(--white, #fff);
              input {
                width: 100%;
                padding: 31px 37px 32px 46px;
                color: var(--text-color, #64748b);
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                border: none;

                span {
                  img {
                    top: 0;
                  }
                }
              }

              .star-img {
                padding: 31px 37px 32px 46px;
                img {
                  color: #000;
                }
              }
            }

            .izoh {
              display: flex;
              flex-direction: column;
              label {
                margin: 88px 0px 19px 0px;
                color: var(--dark, #1c2434);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }
              textarea {
                padding: 38px 49px;
                border: 1px solid var(--stroke, #e2e8f0);
                resize: none;
                border-radius: 8px;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }

            .btn {
              margin-top: 161px;
              margin: 161px auto;
              margin-bottom: 128px;
              button {
                background: transparent;
                padding: 18px 121px;
                border-radius: 30px;
                border: 2px solid #c77128;
                color: #c77128;
                text-align: center;
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .tahrirlash {
    .tahrirlash_items {
      .modals {
        margin-top: 79px;
        .title {
          text-align: center;
          padding: 77px 0px 21px;
          h3 {
            font-size: 20px;
          }
        }

        .modals_card_box {
          padding: 0px 0px 89px 0px;
          margin-bottom: 41px;
          gap: 17px;
          .cards {
            width: 159px;

            .cards_items {
              .card_items_title {
                text-align: center;
                padding: 25px 30px 10px 30px;
                h3 {
                  font-size: 18px;
                }
              }

              .add {
                text-align: center;
                padding-bottom: 33px;
                img {
                  width: 22px;
                }
              }
            }
          }
        }
      }

      .login {
        // position: fixed;
        // top: -150%;
        width: 95%;
        padding: 0px 25px;
        margin: 0 auto;
        margin-top: 41px;
        margin-bottom: 41px;
        .login_items {
          .login_items_title {
            text-align: center;
            padding-top: 19px;

            h3 {
              font-size: 20px;
            }
          }

          .formLogin {
            display: flex;
            flex-direction: column;
            margin: 44px 0px 0px 0px;

            .parol {
              margin-top: 24px;
            }
            label {
              font-size: 10px;
            }

            .email {
              display: flex;
              align-items: center;
              border-radius: 8px;
              margin-top: 18px;
              input {
                width: 100%;
                padding: 6px 16px;
                font-size: 14px;
              }
              span {
                width: 19px;
                img {
                  width: 100%;
                }
              }
            }

            .btn {
              margin-top: 40px !important;
              margin: 161px auto;
              margin-bottom: 236px;
              button {
                padding: 14px 71px;
                font-size: 18px;
              }
            }
          }
        }
      }

      .productAdd {
        // position: fixed;
        // top: -200%;
        padding: 0px 25px;
        margin-top: 291px;
        margin-bottom: 291px;
        .productAdd_items {
          .productAdd_items_title {
            text-align: center;
            padding-top: 19px;
            h3 {
              font-size: 20px;
            }
          }

          .formLogin {
            margin: 39px 0px 0px 0px;
            label {
              font-size: 10px;
            }

            .parol {
              margin-top: 24px;
            }

            .email {
              display: flex;
              align-items: center;
              margin-top: 8px;
              input {
                width: 100%;
                padding: 6px 16px;
                font-size: 14px;

                span {
                  img {
                    top: 0;
                  }
                }
              }

              .star-img {
                padding: 10px 16px;
                width: 100px;
                display: flex;
                align-items: center;
                img {
                  color: #000;
                  width: 100%;
                }
              }
            }

            .izoh {
              display: flex;
              flex-direction: column;
              label {
                font-size: 10px;
              }
              textarea {
                padding: 14px 8px;
                font-size: 14px;
              }
            }

            .btn {
              margin-top: 40px !important;
              margin: 161px auto;
              margin-bottom: 236px;
              button {
                padding: 14px 71px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
