// Kaisei Opti \\
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap");

// Inter \\
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
footer {
  border-top: 1px solid #f49340;
  .footer_items {
    display: flex;
    gap: 313px;
    padding-bottom: 85px;
    .nav {
      margin-top: 66px;
      display: flex;
      gap: 248px;

      .tels {
        margin-top: -20px;
        .telss {
          text-decoration: none;
          display: flex;
          margin-top: 22px;
          .iconPhones {
            transform: rotateY(180deg);
            color: #f49340;
            font-size: 40px;
          }
          .tel_numbers {
            color: #fff;
            font-family: Inter;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all 0.3s ease-in-out;
          }

          .tel_numbers:hover {
            transition: all 0.3s ease-in-out;
            color: #f49340;
          }
        }
        .lang_box {
          margin-top: 40px;
          .select-container {
            select {
              width: 96px;
              padding: 3px 13px 3px 9px;
              background: transparent;
              color: #f49340;
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              border-radius: 27px;
              border: 1px solid #f49340;

              option {
                color: #f49340;
                background: #000;
                border: none;
              }
            }
          }
        }
        .auth {
          display: flex;
          gap: 7px;
          margin-top: -7px;
          p {
            color: #fff;
            margin-top: 75px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          img {
            width: 100px;
          }
        }
      }
    }
  }

  .icons_social {
    width: 68%;
    margin-top: -93px;
    padding-bottom: 109px;
    padding-left: 970px;

    p {
      color: #fff;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .box {
      display: flex;
      gap: 18px;
      .social-container {
        .Link_icon {
          .social {
            font-size: 40px;
            margin-top: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer_items {
      gap: 111px;
      .footer_items_logo {
        img {
          width: 100px;
        }
      }

      .nav {
        margin-top: 30px;
        gap: 74px;
        .nav-box {
          .navbar {
            ul {
              display: flex;
              flex-direction: column;
              gap: 9px;

              li {
                a {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .tels {
          .tel_s {
            .telss {
              p {
                font-size: 20px;
              }
            }
          }
          .auth {
            margin-top: 85px !important;
            p {
              font-size: 15px !important;
            }

            img {
              width: 59px !important;
            }
          }
        }
      }
    }
    .icons_social {
      padding-left: 0px;
      margin-top: -180px;
      padding-bottom: 150px;
      p {
        color: #fff;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .box {
        display: flex;
        gap: 18px;
        .social-container {
          .Link_icon {
            .social {
              font-size: 40px;
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
}
