/* -- Kaisei Opti -- */

/* @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap'); */
/* font-family: 'Kaisei Opti', serif; */

/* -- Inter -- */
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
/* font-family: 'Inter', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html{
  scroll-behavior: smooth;
}

.container {
  max-width: 1661px;
  margin: 0 auto;
}

.App_items_section {
  background: url("./assets/images/background_1.png"),
    rgb(8, 8, 8) 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
